.box{
    width:15%;
    height: 150px;
    display:inline-block;
    margin-top:50px;
    margin-left:20px;
    background-color: rgb(71, 76, 71);
  }
  .header{
    text-align: center;
    padding-top:10px;
    font-size:25px;
    font-weight: 900;
    color:white;
}