.button-margin{
    margin-right:20px;
}
a{
    color:red !important;
}
.navbar-nav{
    margin-left:55%;
}
.container{
    margin-top:50px;
}
.fa-address-book{
    font-size:55px !important;
    color:green;
}
.contact{
    width: 100%;
    height: 80%;
}